* {
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', monospace;
    font-size: 20px;
    line-height: 1.5;
    background: #000000;
}

a:visited,
a:hover,
a:focus {
    text-decoration: none;
    color: #fff;
}


.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: 'Space Mono', monospace;
}

.brand-title {
    font-family: 'Space Mono', monospace;
    font-size: 3.5rem;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
    font-family: 'Space Mono', monospace;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
    font-family: 'Space Mono', monospace;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}


.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: none;
    border-radius: 10px;
}

@media (max-width: 800px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        font-family: 'Space Mono', monospace;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

.text_box {
    width: 1000px;
    height: 1000px;
    margin: 60px auto;
    position: relative;
    text-align: justify;
    background-color: #fff;
}

.p {
    line-height: 200px;
    height: 200px;
    padding: auto;
}